<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US" xml:lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="title">Weasel Diesel</ui:insert></title>
</h:head>
<h:body id="body">
	<p:layout fullPage="true">
		
		<p:layoutUnit id="top" position="north">
			<p:menubar autoSubmenuDisplay="true">
				<p:menuitem value="Home" url="#" />
				<p:menuitem value="New Issue" url="#" />
				<p:menuitem value="Previous Issues" url="#" />
				<p:menuitem value="About" url="#" />
			</p:menubar>
		</p:layoutUnit>
		
		<p:layoutUnit id="bottom" position="south" size="300" resizable="true" collapsible="true">
			<ui:insert name="bottom">
			
			</ui:insert>
		</p:layoutUnit>
		
		<p:layoutUnit id="left" position="west" size="250" header="Detections" collapsible="true">
			<ui:insert name="left">
			
			</ui:insert>
		</p:layoutUnit>
		
		<p:layoutUnit position="center">
			<ui:insert name="content">
				
			</ui:insert>
		</p:layoutUnit>
		
	</p:layout>
</h:body>
</html>