<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="left">
		<h:form id="menuForm">
			<h:panelGrid id="menuPanel" columns="1">
				<h:graphicImage value="resources/images/logo.png"></h:graphicImage>
				<p:commandLink value="About Weasel-Diesel" action="#{menuBean.goToAbout}" />
				<p:commandLink value="Create New Issue" action="#{menuBean.createNewIssue}" />
				<p:commandLink value="Display Previous Issues" action="#{menuBean.displayPreviousIssues}" />
				<p:commandLink value="Download User Manual" action="#{menuBean.downloadUserManual}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
	
</ui:composition>

