<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US" xml:lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Display Issue</title>
</h:head>
<h:body id="body">

<h:form id="form">
	<p:layout fullPage="true">
		<!-- Top Menu -->
		<p:layoutUnit id="top" position="north">
			<p:menubar autoSubmenuDisplay="true">
				<p:menuitem value="#{displayResultsBean.manageIssuesMenuItem}" url="manageissue.xhtml" />
				<p:menuitem value="#{displayResultsBean.aboutMenuItem}" url="about.xhtml" />
			</p:menubar>
		</p:layoutUnit>
		
		<!-- Left Panel -->
		<p:layoutUnit id="left" position="west" size="250" header="#{displayResultsBean.leftPanelHeader}" collapsible="true">
			<p:tree id="personTree" value="#{displayResultsBean.treeController.root}" var="node"
					selectionMode="single" selection="#{displayResultsBean.treeController.selectedNode}">
				
				<p:ajax event="select" listener="#{displayResultsBean.onTreeNodeSelect}" 
						update=":form:fileDataTable :form:cbmDataTable :form:textAreaGrid :form:statisticsDataTable" />
				
				<p:treeNode>
					<h:outputText value="#{node}" />
				</p:treeNode>
			</p:tree>
		</p:layoutUnit>
		
		<!-- Bottom Panel -->
		<p:layoutUnit id="bottom" position="south" size="200" resizable="true" collapsible="true">
			<!-- 
			<h:panelGrid columns="2" width="100%">
				<h:panelGroup style="width: 10%; valign: top;">
					<p:dataTable id="statisticsDataTable" value="#{displayResultsBean.statistics}" var="statistic" rowKey="#{statistic.data1}">
						<f:facet name="header">
							<h:outputText value="Statistics" />
						</f:facet>
					
						<p:column>
							#{statistic.data1}
						</p:column>
						<p:column>
							#{statistic.data2}
						</p:column>
					</p:dataTable>
				</h:panelGroup>
				<h:panelGroup style="width: 90%;">
			 -->
				<p:dataTable id="fileDataTable" value="#{displayResultsBean.fileTableController.dataModel}" var="row" 
					selectionMode="single" selection="#{displayResultsBean.fileTableController.selectedPair}"
					rowKey="#{row.data1}">
			
					<p:ajax event="rowSelect" listener="#{displayResultsBean.onFileRowSelect}" 
							update=":form:cbmDataTable :form:textAreaGrid" />
		
					<f:facet name="header"><h:outputText value="#{displayResultsBean.fileTableHeader}" /></f:facet>
		
					<p:column>
						<f:facet name="header">#{displayResultsBean.fileTableController.column1Name}</f:facet>
						<h:outputText value="#{row.displayedText1}" />
					</p:column>
		
					<p:column>
						<f:facet name="header">#{displayResultsBean.fileTableController.column2Name}</f:facet>
						<h:outputText value="#{row.displayedText2}" />
					</p:column>
				</p:dataTable>
			<!-- 	
				</h:panelGroup>
			</h:panelGrid>
			 -->
		</p:layoutUnit>
		
		<!-- Main Panel -->
		<p:layoutUnit position="center">
			<h:panelGrid columns="1" style="width: 100%;">
				<p:dataTable id="cbmDataTable" value="#{displayResultsBean.cbmTableController.dataModel}" var="row"
						selectionMode="single" selection="#{displayResultsBean.cbmTableController.selectedPair}"
						rowKey="#{row.data1}" style="width: 100%;">
					
					<p:ajax event="rowSelect" listener="#{displayResultsBean.onCbmRowSelect}" update=":form:textAreaGrid"/>
					
					<f:facet name="header"><h:outputText value="#{displayResultsBean.codeBlockTableHeader}" /></f:facet>
					
					<p:column style="width: 50%;">
						<f:facet name="header">#{displayResultsBean.cbmTableController.column1Name}</f:facet>
						<h:outputText value="#{row.displayedText1}"></h:outputText>
					</p:column>	
					
					<p:column style="width: 50%;">
						<f:facet name="header">#{displayResultsBean.cbmTableController.column2Name}</f:facet>
						<h:outputText value="#{row.displayedText2}"></h:outputText>
					</p:column>
					
				</p:dataTable>
				
				<h:panelGrid id="textAreaGrid" columns="2" style="width: 100%; height: 100%;">	
					<p:inputTextarea  disabled="true" value="#{displayResultsBean.codeBlock1}" 
							rows="#{displayResultsBean.codeBlock1RowCount}" style="width: 99%; height: 100%;" />
				
					<p:inputTextarea disabled="true" value="#{displayResultsBean.codeBlock2}" 
							rows="#{displayResultsBean.codeBlock1RowCount}" style="width: 99%; height: 100%;" />
				</h:panelGrid>
				
			</h:panelGrid>
		</p:layoutUnit>
	
	</p:layout>
</h:form>

</h:body>
</html>