<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US" xml:lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login to Weasel Diesel</title>
</h:head>
<h:body id="body">
<h:form>
	<p:panel id="loginPanel" header="Login"
			closable="false" toggleable="false">
			
		<h:panelGrid columns="3">
			<h:outputLabel for="username" value="Username: " />
			<p:inputText id="username" value="#{loginBean.username}"></p:inputText>
			<p:message for="username" showDetail="true"></p:message>
			
			<h:outputLabel for="password" value="Password: " />
			<p:password id="password" value="#{loginBean.password}" feedback="false"></p:password>
			<p:message for="password" showDetail="true"></p:message>	
		</h:panelGrid>
		
		<h:panelGrid columns="1">
			<p:commandLink id="forgotPasswordLink" value="Forgot my password..." 
					action="#{loginBean.emailPassword}" />
			<a href="register.xhtml">Register</a>
		</h:panelGrid>
		
		<f:facet name="footer">
			<p:commandButton id="loginButton" value="Go !" action="#{loginBean.login}" ajax="false"></p:commandButton>
		</f:facet>
	</p:panel>
</h:form>
</h:body>
</html>