<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US" xml:lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Weasel Diesel Home</title>
</h:head>
<h:body id="body">
	<p:layout fullPage="true">
		<p:layoutUnit position="west" size="250" header="#{manageIssuesBean.labelPreviousIssues}" resizable="true">
			<h:form>
				<p:dataTable value="#{manageIssuesBean.issues}" var="issue" rowKey="#{issue.id}"
							selection="#{manageIssuesBean.selectedIssue}" selectionMode="single">		
					
					<p:column headerText="#{manageIssuesBean.labelId}">
						#{issue.id}
					</p:column>
					
					<p:column headerText="#{manageIssuesBean.labelName}">
						#{issue.name}
					</p:column>
					
					<f:facet name="footer">
						<p:commandButton value="#{manageIssuesBean.labelDisplayResults}" action="#{manageIssuesBean.selectIssue}" ajax="false" />
					</f:facet>
				</p:dataTable>
			</h:form>
		</p:layoutUnit>
		
		<p:layoutUnit position="center">
			<h:form>
				<p:panel id="newIssuePanel" header="#{manageIssuesBean.labelNewIssue}">
					<h:panelGrid columns="2">
						<h:panelGroup>
							<h:outputLabel for="issueName" value="#{manageIssuesBean.labelIssueName}: " />
							<p:inputText id="issueName" value="#{manageIssuesBean.issueName}" required="true" requiredMessage="#{manageIssuesBean.errorMessage3}" />
						</h:panelGroup>
						<p:message for="issueName" showDetail="true" />
						<h:panelGroup>
							<h:panelGroup>
								<h:outputText value="#{manageIssuesBean.labelUploadFile} " />
								<p:commandLink value="#{manageIssuesBean.labelFileFormat}" actionListener="#{manageIssuesBean.loadFileFormatTree}" />:
							</h:panelGroup>
							<p:fileUpload id="fileUpload" fileUploadListener="#{manageIssuesBean.handleFileUpload}" mode="advanced" auto="true" />
						</h:panelGroup>
						<p:message for="fileUpload" showDetail="true" />
					</h:panelGrid>
					
					<h:panelGroup id="successGrp" rendered="#{manageIssuesBean.renderSuccessMessage}">
						<h:outputText value="#{manageIssuesBean.successMessage}" />
					</h:panelGroup>
					<h:panelGroup id="failureGrp" rendered="#{manageIssuesBean.renderFailureMessage}">
						<h:outputText value="#{manageIssuesBean.errorMessage}" />
					</h:panelGroup>
					
					<f:facet name="footer">
						<p:commandButton id="createIssueButton" value="#{manageIssuesBean.labelCreateIssue}" action="#{manageIssuesBean.createIssue}" update="newIssuePanel" ajax="false" />
					</f:facet>
				</p:panel>		
			</h:form>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>