<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US" xml:lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Register to Weasel Diesel</title>
</h:head>
<h:body id="body">
<h:form>
	<p:panel id="registerPanel" header="Register"
			closable="false" toggleable="false">
	
		<h:panelGrid columns="1">
			<h:panelGrid columns="3">
				<h:outputLabel for="username" value="Username: " />
				<p:inputText id="username" value="#{registerBean.username}" required="true" requiredMessage="Username is required." />
				<p:message for="username" showDetail="true"></p:message>
				
				<h:outputLabel for="password" value="Password: " />
				<p:password id="password" value="#{registerBean.password}" required="true" requiredMessage="Password is required."
							match="password2" validatorMessage="Passwords are different !" />
				<p:message for="password" showDetail="true"></p:message>
							
				<h:outputLabel for="password2" value="Confirm Password: " />
				<p:password id="password2" value="#{registerBean.password}" required="true" requiredMessage="Confirm your password." />
				<p:message for="password2" showDetail="true"></p:message>
				
				<h:outputLabel for="email" value="E-Mail Address: " />
				<p:inputText id="email" value="#{registerBean.email}" required="true" />
			</h:panelGrid>
		
		
			<p:captcha id="captcha" required="true" label="captcha"></p:captcha>
			<p:message for="captcha" showDetail="true" />
			
			<h:panelGroup id="successGrp" rendered="#{registerBean.renderSuccessMessage}">
				<h:outputText value="#{registerBean.registerSuccessMessage}" />	
				<a href="login.xhtml">Login</a>
			</h:panelGroup>
			
			<h:panelGroup id="failureGrp" rendered="#{registerBean.renderFailureMessage}">
				<h:outputText value="#{registerBean.registerFailureMessage}"></h:outputText>
			</h:panelGroup>
		</h:panelGrid>
		
		<f:facet name="footer">
			<p:commandButton id="registerButton" value="Register to Weasel Diesel" action="#{registerBean.register}" ajax="false" />
		</f:facet>
	</p:panel>
</h:form>
</h:body>
</html>